body, html {
	height: 100%;
	margin: 0;
}

canvas {
	width: 100%;
  height: 100%;
	background: #2b5876;
  background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
  background: linear-gradient(to right, #2b5876, #4e4376);
}
