<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Script Demo</title>
    <link rel="stylesheet" type="text/css" href="../static/circles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/circles.js"></script>
    <script type="text/javascript" src="../assets/paper-full.js"></script>
    <script type="text/paperscript" canvas="myCanvas">
    var path = new Path();
    path.strokeColor = 'red';
    var start = new Point(0, 0);
    path.moveTo(start);
    path.lineTo(start + [ 100, 100 ]);

    var myCircle = new Path.Circle(new Point(110, 110), 50);
    myCircle.fillColor = 'black';

    var myCircle2 = new Path.Circle(new Point(50, 50), 300);
    myCircle2.fillColor = 'purple';
    </script>

  </head>

  <body>
    <canvas id="myCanvas" resize></canvas>
  </body>
</html>