<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/colorgame.css"/>
  <title>Script Demo</title>
</head>

<body>

  <h1>
    <div id="sampleContainer">
      <span id="redSquare">R</span>
      <span id="greenSquare">G</span>
      <span id="blueSquare">B</span>
    </div>
    <span id="colorDisplay">RGB</span>
    <br>
  </h1>

  <div id="stripe">
    <button id="reset">New Colors</button>
    <span id="message"></span>
    <button id="easyButton">Easy</button>
    <button id="mediumButton" class="selected">Medium</button>
    <button id="hardButton">Hard</button>
  </div>

  <div id="container">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>

  <script src="../static/colorgame.js"></script>
</body>
</html>
